/* root */
:root{
    --primary: #ff9614;
    --footer: #7c69a4;
    --bg-main: #f6f5f3;
    --light-grey: #b9cadc;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat","Helvetica Neue",sans-serif;
}
/* debug */
.debug *{
    border: 1px dashed black;
/* utilities */
}
.container{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.row{
    margin: 0 -1rem;
}
[class^="col-"] {
    padding: 0.5rem;
}
.dflex{
    display: flex;
}
.col-12 {
    width: 100%;
}
/* header */
.container{
    h1{
        text-align: center;
        color: var(--primary);
        font-family: "Nerko One", cursive;
        font-weight: bold;
        font-size: 50px;
    }
}
/* main */
.app_main{
    background-color: var(--bg-main);

    .container{
        p{
            font-size: 15px;
            color: var(--light-grey);
        }
        h4{
            font-size: 30px;
        }
    }
}